{{ mprlab_caddy_resource.host }} {
    encode zstd gzip
    header -Server

    @external_traffic not remote_ip{% for network in mprlab_caddy_resource.trusted_networks %} {{ network }}{% endfor %}

    route @external_traffic {
        rate_limit {
            zone {{ mprlab_caddy_resource.rate_limit.zone }} {
                key    {remote_host}
                events {{ mprlab_caddy_resource.rate_limit.events }}
                window {{ mprlab_caddy_resource.rate_limit.window }}
            }
        }
    }

    reverse_proxy {{ mprlab_caddy_resource.upstream }} {
        transport http {
            dial_timeout            {{ mprlab_caddy_resource.transport.dial_timeout }}
            response_header_timeout {{ mprlab_caddy_resource.transport.response_header_timeout }}
            read_timeout            {{ mprlab_caddy_resource.transport.read_timeout }}
        }
    }
}
