openapi: 3.1.0
info:
  title: LLM Proxy HTTP API
  version: 1.0.0
  description: >-
    The sole canonical wire contract for llm-proxy-owned proxy, browser
    configuration, and management endpoints. Each configured text model owns
    one explicit upstream wire contract and execution lifecycle. OpenAI
    Gemini 3.5 Transcribe accepts file dictation through synchronous Interactions.
    The filename extension selects a supported audio MIME type. An unsupported
    extension returns HTTP 400 with invalid_audio_input. The upload byte limit
    applies. Gemini enforces its one-hour audio duration limit.
    Gemini 3.6 Flash accepts reasoning efforts minimal, low, medium, and high.
    Gemini 3.7 Flash accepts low, medium, and high. An omitted effort leaves
    the provider default in effect. Both routes accept text, image, and audio
    input with a maximum of 65,536 output tokens.
    Responses and Gemini 3.x Interactions use stored pollable resources.
    OpenAI-compatible Chat Completions and Anthropic Messages complete
    synchronously. Generation responses remain synchronous. A hosted duplicate
    can return an active receipt. The proxy does not expose provider resource identifiers.
    For customer-owned credentials, OpenAI resource ids remain in memory only.
    The adapter does not cancel or delete stored Responses. The OpenAI account retention policy applies.
    For hosted work, the journal keeps private provider resource identifiers.
    For customer-owned credentials, background Gemini interaction ids are request-local.
    The adapter cancels active resources and deletes every stored interaction on exit.
    Each Gemini Interactions route rejects
    assistant history before provider dispatch. An incomplete Gemini response
    returns a provider error without replay.
    TAuth-owned endpoints are outside this contract.
    Contributors must update this document in the same change as any owned
    handler or bundled-client wire change.
servers:
  - url: https://llm-proxy-api.mprlab.com
    description: Production API origin
x-llm-proxy-protocol-methods:
  - OPTIONS
tags:
  - name: Client protocols
    description: Tenant bearer interfaces for OpenAI clients and OpenCode.
  - name: Proxy
    description: Tenant-key-authenticated text and dictation operations.
  - name: Configuration
    description: Public browser runtime configuration owned by llm-proxy.
  - name: Capabilities
    description: Public provider, model, capability, and request-limit resources.
  - name: Management
    description: TAuth-session-authenticated tenant management operations.
paths:
  /.well-known/oauth-protected-resource/mcp:
    get:
      operationId: getMCPResourceMetadata
      summary: Read OAuth metadata for the MCP resource.
      security: []
      responses:
        '200':
          description: The metadata identifies the TAuth issuer and required scope.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [resource, authorization_servers, scopes_supported, bearer_methods_supported]
                properties:
                  resource:
                    type: string
                    format: uri
                  authorization_servers:
                    type: array
                    items:
                      type: string
                      format: uri
                  scopes_supported:
                    type: array
                    items:
                      type: string
                      const: llm-proxy:use
                  bearer_methods_supported:
                    type: array
                    items:
                      type: string
                      const: header
  /mcp:
    post:
      operationId: postMCPRequest
      summary: Use an owned tenant through MCP.
      description: >-
        Stateless Streamable HTTP supports 2026-07-28, 2025-11-25, 2025-06-18, and 2025-03-26 with JSON responses.
        The 2025 revisions use initialize and notifications/initialized.
        The 2026 revision uses server/discover and per-request protocol metadata.
        TAuth issues tokens for the API origin with the llm-proxy:use scope.
        Each request requires a bearer token.
        The body must arrive within server.request_timeout_seconds and cannot exceed 8 MiB.
        An upload timeout returns HTTP 408 before tool execution.
        Generation uses a separate request_timeout_seconds budget after the upload.
        The llm_proxy.list_tenants tool provides all owned tenant summaries.
        The llm_proxy.generate_text tool requires tenant_id and messages.
        Hosted text also requires idempotency_key and returns the original execution identifier for identical requests.
        A concurrent hosted request returns state dispatched without generated text.
        The llm-proxy://tenants/{tenant_id}/routes resource template provides configured text routes.
        Tool execution failures use isError with a sanitized code.
        Resource errors and protocol errors use JSON-RPC errors with the protocol HTTP status.
      security:
        - MCPAccessToken: []
      parameters:
        - name: MCP-Protocol-Version
          in: header
          description: >-
            Send the negotiated version after initialization. The initial handshake can omit this header.
            An absent header selects the protocol-defined 2025-03-26 default. Repeated headers are rejected.
          schema:
            type: string
            enum: ['2026-07-28', '2025-11-25', '2025-06-18', '2025-03-26']
        - name: Mcp-Method
          in: header
          schema:
            type: string
          description: Required for 2026-07-28. The value must equal the JSON-RPC method.
        - name: Mcp-Name
          in: header
          schema:
            type: string
          description: Supply the tool name for tools/call or the resource URI for resources/read.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPRequest'
      responses:
        '200':
          description: An MCP result or application error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPResponse'
        '202':
          description: The handshake-family notification was accepted. The response has no body.
        '400':
          description: The protocol version, resource URI, or request is invalid.
        '401':
          description: A valid TAuth OAuth access token is required.
          headers:
            WWW-Authenticate:
              schema:
                type: string
        '403':
          description: The required scope is absent or the origin is prohibited.
        '404':
          description: The MCP method is unknown.
        '406':
          description: The Accept header does not permit the required response type.
        '408':
          description: The request body did not arrive within the server timeout or the request was canceled.
        '413':
          description: The request exceeds the configured message limit.
        '415':
          description: The request content type is unsupported.
        '500':
          description: The requested resource is unavailable because of a server error.
  /healthz:
    get:
      operationId: getHealth
      summary: Read local datastore readiness without authentication or provider work.
      security: []
      responses:
        '200':
          description: The local datastore is available.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                type: object
                required: [status]
                additionalProperties: false
                properties:
                  status:
                    const: ok
        '503':
          description: The local datastore is unavailable.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                type: object
                required: [status]
                additionalProperties: false
                properties:
                  status:
                    const: unavailable
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      tags:
        - Client protocols
      description: >-
        Authenticate with a tenant bearer key. Select one exact provider/model route. Reject unsupported fields
        before provider dispatch.
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/HostedCompletionIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIChatRequest'
      responses:
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '403':
          $ref: '#/components/responses/HostedClientFailure'
        '409':
          $ref: '#/components/responses/HostedClientFailure'
        '410':
          $ref: '#/components/responses/HostedClientFailure'
        '200':
          description: Completed result.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIChatCompletion'
            text/event-stream:
              schema:
                type: string
              x-event-contract: OpenAIChatChunk
              x-event-sequence:
                - assistant-role
                - content-or-tool-calls
                - finish
                - optional-usage
                - '[DONE]'
        '400':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/OptionalResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '401':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '405':
          description: The HTTP method is unsupported.
          headers:
            Allow:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '413':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '415':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '429':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
            Retry-After:
              $ref: '#/components/headers/SafeRetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '499':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '502':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '503':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '504':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
  /v1/responses:
    post:
      operationId: createResponse
      tags:
        - Client protocols
      description: >-
        Authenticate with a tenant bearer key. Select one exact provider/model route. Reject unsupported fields
        before provider dispatch.
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/HostedCompletionIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIResponsesRequest'
      responses:
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '403':
          $ref: '#/components/responses/HostedClientFailure'
        '409':
          $ref: '#/components/responses/HostedClientFailure'
        '410':
          $ref: '#/components/responses/HostedClientFailure'
        '200':
          description: Completed result.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponse'
            text/event-stream:
              schema:
                type: string
              x-event-contract: OpenAIResponseEvent
              x-event-sequence:
                - response.created
                - response.in_progress
                - output-item-events
                - response.completed
        '400':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/OptionalResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '401':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '405':
          description: The HTTP method is unsupported.
          headers:
            Allow:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '413':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '415':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '429':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
            Retry-After:
              $ref: '#/components/headers/SafeRetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '499':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '502':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '503':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '504':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
  /v1/audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
        - Client protocols
      description: >-
        Authenticate with a tenant bearer key. Select one exact provider/model route. Reject unsupported fields
        before provider dispatch. Hosted requests require Idempotency-Key.
        Identical audio and format use the same request identity across both transcription interfaces.
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/HostedCompletionIdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OpenAITranscriptionRequest'
      responses:
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '403':
          $ref: '#/components/responses/HostedClientFailure'
        '409':
          $ref: '#/components/responses/HostedClientFailure'
        '410':
          $ref: '#/components/responses/HostedClientFailure'
        '200':
          description: Completed result.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictationResponse'
        '400':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/OptionalResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '401':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '405':
          description: The HTTP method is unsupported.
          headers:
            Allow:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '413':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '415':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '429':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
            Retry-After:
              $ref: '#/components/headers/SafeRetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '499':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '502':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '503':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '504':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            X-LLM-Proxy-Request-Timeout-Seconds:
              $ref: '#/components/headers/ResolvedRequestTimeout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
  /v1/models:
    get:
      operationId: listClientModels
      tags:
        - Client protocols
      description: >-
        Return only catalog routes available to the authenticated tenant. The created value records catalog
        entry creation from repository history.
      security:
        - TenantBearerKey: []
      responses:
        '200':
          description: Completed result.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIModels'
        '400':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '401':
          description: Request failure.
          headers:
            X-LLM-Proxy-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            X-Request-ID:
              $ref: '#/components/headers/ProxyRequestID'
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
        '405':
          description: The HTTP method is unsupported.
          headers:
            Allow:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIError'
  /:
    get:
      operationId: getText
      summary: Generate text from a query prompt
      tags:
        - Proxy
      security:
        - TenantClientKey: []
      x-llm-proxy-allow-undeclared-query: true
      parameters:
        - $ref: '#/components/parameters/TenantClientKey'
        - $ref: '#/components/parameters/Prompt'
        - $ref: '#/components/parameters/Provider'
        - $ref: '#/components/parameters/Model'
        - $ref: '#/components/parameters/WebSearch'
        - $ref: '#/components/parameters/SystemPrompt'
        - $ref: '#/components/parameters/MaxTokens'
        - $ref: '#/components/parameters/ReasoningEffort'
        - $ref: '#/components/parameters/ResponseFormat'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/HostedCompletionIdempotencyKey'
      responses:
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '410':
          $ref: '#/components/responses/HostedResultExpired'
        '200':
          $ref: '#/components/responses/TextSuccess'
        '400':
          $ref: '#/components/responses/ProxyBadRequest'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '409':
          $ref: '#/components/responses/V2Conflict'
        '429':
          $ref: '#/components/responses/ProxyRateLimited'
        '499':
          $ref: '#/components/responses/CallerClosed'
        '502':
          $ref: '#/components/responses/ProxyBadGateway'
        '503':
          $ref: '#/components/responses/ProxyUnavailable'
        '504':
          $ref: '#/components/responses/ProxyTimeout'
    post:
      operationId: postText
      summary: Generate text from a prompt or messages JSON body
      tags:
        - Proxy
      security:
        - TenantClientKey: []
      x-llm-proxy-allow-undeclared-query: true
      parameters:
        - $ref: '#/components/parameters/TenantClientKey'
        - $ref: '#/components/parameters/Provider'
        - $ref: '#/components/parameters/Model'
        - $ref: '#/components/parameters/ResponseFormat'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/HostedCompletionIdempotencyKey'
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '410':
          $ref: '#/components/responses/HostedResultExpired'
        '200':
          $ref: '#/components/responses/TextSuccess'
        '400':
          $ref: '#/components/responses/ProxyBadRequest'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '409':
          $ref: '#/components/responses/V2Conflict'
        '413':
          $ref: '#/components/responses/ProxyPayloadTooLarge'
        '429':
          $ref: '#/components/responses/ProxyRateLimited'
        '499':
          $ref: '#/components/responses/CallerClosed'
        '502':
          $ref: '#/components/responses/ProxyBadGateway'
        '503':
          $ref: '#/components/responses/ProxyUnavailable'
        '504':
          $ref: '#/components/responses/ProxyTimeout'
  /v2:
    post:
      operationId: postV2Messages
      summary: Generate text from canonical messages
      description: >-
        The current messages-only operation. `messages` is required. User
        messages may include ordered inline or tenant-asset-backed image and
        audio attachments. `model`, `web_search`, `max_tokens`,
        `reasoning_effort`, and `structured_output` are optional. A structured
        request requires one Idempotency-Key and a supported provider protocol.
        The proxy compiles the schema and validates the selected provider subset
        before dispatch. It saves its provider result for reconciliation through
        `GET /v2/requests`. Omitting `reasoning_effort` selects the tenant or route
        default. A supplied value must be non-blank and supported by the resolved
        route. The selected provider offering owns media admission and transport
        limits. Unsupported media or route capabilities return HTTP 400 before
        an upstream call. Each Gemini Interactions route returns HTTP 400 when
        any message has the assistant role. The service rejects an encoded request body above 8
        MiB before JSON decoding. A smaller catalog-derived body limit applies
        when configured. Current Moonshot Kimi image routes preserve attachment
        order and exact bytes through Chat Completions Data URL blocks.
      tags:
        - Proxy
      security:
        - TenantClientKey: []
      x-llm-proxy-allow-undeclared-query: true
      parameters:
        - $ref: '#/components/parameters/TenantClientKey'
        - $ref: '#/components/parameters/Provider'
        - $ref: '#/components/parameters/ResponseFormat'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/OptionalIdempotencyKey'
      requestBody:
        $ref: '#/components/requestBodies/V2Request'
      responses:
        '200':
          $ref: '#/components/responses/V2Success'
        '202':
          $ref: '#/components/responses/V2StructuredRequestPending'
        '400':
          $ref: '#/components/responses/V2BadRequest'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/AssetFailure'
        '410':
          $ref: '#/components/responses/V2Expired'
        '409':
          $ref: '#/components/responses/V2Conflict'
        '413':
          $ref: '#/components/responses/ProxyPayloadTooLarge'
        '429':
          $ref: '#/components/responses/ProxyRateLimited'
        '499':
          $ref: '#/components/responses/CallerClosed'
        '502':
          $ref: '#/components/responses/ProxyBadGateway'
        '503':
          $ref: '#/components/responses/ProxyUnavailable'
        '504':
          $ref: '#/components/responses/ProxyTimeout'
        '500':
          $ref: '#/components/responses/V2InternalFailure'
  /v2/identity:
    get:
      operationId: getTenantIdentity
      summary: Read the authenticated tenant identity
      description: >-
        Returns the server-resolved tenant identifier for the supplied tenant
        client key. This operation never dispatches provider work. A successful
        response sets Cache-Control to no-store.
      tags:
        - Proxy
      security:
        - TenantClientKey: []
      parameters:
        - $ref: '#/components/parameters/TenantClientKey'
      responses:
        '200':
          $ref: '#/components/responses/TenantIdentitySuccess'
        '400':
          $ref: '#/components/responses/ProxyBadRequest'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '499':
          $ref: '#/components/responses/CallerClosed'
  /v2/requests:
    get:
      operationId: getV2StructuredRequest
      summary: Reconcile a durable text request
      description: >-
        Returns the terminal JSON result, a safe in-progress receipt, or a safe
        terminal failure for the authenticated tenant and exact Idempotency-Key.
        This operation never dispatches provider work. Every response sets
        Cache-Control to no-store.
      tags:
        - Proxy
      security:
        - TenantClientKey: []
      x-llm-proxy-allow-undeclared-query: true
      parameters:
        - $ref: '#/components/parameters/TenantClientKey'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          $ref: '#/components/responses/StructuredRequestSucceeded'
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '400':
          $ref: '#/components/responses/StructuredRequestBadRequest'
        '404':
          $ref: '#/components/responses/StructuredRequestNotFound'
        '410':
          $ref: '#/components/responses/StructuredRequestExpired'
        '409':
          $ref: '#/components/responses/StructuredRequestConflict'
        '429':
          $ref: '#/components/responses/StructuredRequestFailed'
        '500':
          $ref: '#/components/responses/StructuredRequestStoreFailure'
        '502':
          $ref: '#/components/responses/StructuredRequestFailed'
        '503':
          $ref: '#/components/responses/StructuredRequestFailed'
        '504':
          $ref: '#/components/responses/StructuredRequestFailed'
  /model/v1/capabilities:
    get:
      operationId: getTenantMediaCapabilities
      summary: Read tenant-available durable media routes
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      responses:
        '200':
          description: Tenant-available media capability routes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCapabilities'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
  /model/v1/operations:
    post:
      operationId: createTenantMediaOperation
      summary: Accept one durable tenant media operation
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/MediaOperationIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaOperationRequest'
      responses:
        '200':
          $ref: '#/components/responses/MediaOperation'
        '202':
          $ref: '#/components/responses/MediaOperation'
        '400':
          $ref: '#/components/responses/MediaOperationFailure'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '409':
          $ref: '#/components/responses/MediaOperationFailure'
        '410':
          $ref: '#/components/responses/MediaOperationExpired'
        '422':
          $ref: '#/components/responses/MediaOperationFailure'
        '429':
          $ref: '#/components/responses/MediaOperationFailure'
        '500':
          $ref: '#/components/responses/MediaOperationFailure'
  /model/v1/operations/{operation_id}:
    get:
      operationId: getTenantMediaOperation
      summary: Read one durable tenant media operation
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/MediaOperationID'
      responses:
        '200':
          $ref: '#/components/responses/MediaOperation'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/MediaOperationFailure'
        '410':
          $ref: '#/components/responses/MediaOperationExpired'
  /model/v1/operations/{operation_id}/cancellation:
    put:
      operationId: cancelTenantMediaOperation
      summary: Request cancellation of one durable tenant media operation
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/MediaOperationID'
      responses:
        '200':
          $ref: '#/components/responses/MediaOperation'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/MediaOperationFailure'
        '422':
          $ref: '#/components/responses/MediaOperationFailure'
  /model/v1/provider-diagnostics/{provider}:
    get:
      operationId: getProviderDiagnostics
      summary: Read retained tenant operation counts for a provider
      description: >-
        Counts include only retained media operations owned by the authenticated tenant for the selected provider.
        Each accepted operation counts once. Repeated status reads and idempotent retries do not add operations.
        Counts include every retained state, including uncertain. Terminal detail expiry removes its count.
        These are retained operation counts, not lifetime usage or billing totals.
        An assigned connection is required. Connection changes do not transfer another tenant's history.
        The request does not contact the provider or return server health, uptime, or global latency.
      tags: [Proxy]
      security:
        - TenantBearerKey: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-z][a-z0-9_-]*$
        - $ref: '#/components/parameters/RequestTimeout'
      responses:
        '200':
          $ref: '#/components/responses/ProviderDiagnostics'
        '400':
          $ref: '#/components/responses/ProxyBadRequest'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/ProviderDiagnosticsFailure'
        '405':
          $ref: '#/components/responses/ProviderDiagnosticsFailure'
        '500':
          $ref: '#/components/responses/ProviderDiagnosticsFailure'
    head:
      operationId: getProviderDiagnosticsHeaders
      summary: Read diagnostic response headers without a response body
      tags: [Proxy]
      security:
        - TenantBearerKey: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-z][a-z0-9_-]*$
        - $ref: '#/components/parameters/RequestTimeout'
      responses:
        '200':
          description: Retained tenant operation counts are available.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
        default:
          description: The diagnostic read failed. The response has no body.
  /model/v1/voices:
    get:
      operationId: listTenantMediaVoices
      summary: Discover and list tenant-owned provider voices
      description: >-
        Hosted access requires an active speech grant and qualified platform credentials.
        Hosted ElevenLabs discovery exposes default premade voices.
        Hosted Dictator discovery includes only presets and the tenant's retained extracted voices.
        Hosted cursors bind the grant revision and credential version.
        Metadata reads do not create billable attempts.
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - name: provider
          in: query
          required: true
          description: Canonical provider identifier.
          schema:
            type: string
            pattern: ^[a-z][a-z0-9_-]*$
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 16384
        - name: search
          in: query
          schema:
            type: string
            maxLength: 1000
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, created_at_unix]
        - name: sort_direction
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: voice_type
          in: query
          description: Hosted ElevenLabs access accepts only default. Other values return 400.
          schema:
            type: string
            enum: [personal, community, default, account, non-default, non-community, saved]
        - name: category
          in: query
          description: Hosted ElevenLabs access accepts only premade. Other values return 400.
          schema:
            type: string
            enum: [premade, cloned, generated, professional]
        - name: include_total_count
          in: query
          schema:
            type: boolean
      responses:
        '200':
          $ref: '#/components/responses/MediaVoiceCollection'
        '400':
          $ref: '#/components/responses/MediaVoiceFailure'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '500':
          $ref: '#/components/responses/MediaVoiceFailure'
        '502':
          $ref: '#/components/responses/MediaVoiceFailure'
  /model/v1/voices/{voice_id}:
    get:
      operationId: getTenantMediaVoice
      summary: Read one tenant-owned voice
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/MediaVoiceID'
      responses:
        '200':
          $ref: '#/components/responses/MediaVoice'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/MediaVoiceFailure'
        '500':
          $ref: '#/components/responses/MediaVoiceFailure'
  /model/v1/voices/{voice_id}/previews/{preview}:
    get:
      operationId: getTenantMediaVoicePreview
      summary: Read one account-bound voice preview
      tags: [Proxy]
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/MediaVoiceID'
        - name: preview
          in: path
          required: true
          schema: {type: integer, minimum: 0}
      responses:
        '200':
          description: Audio preview from the current provider connection.
          headers:
            Cache-Control:
              schema: {type: string, const: no-store}
          content:
            audio/mpeg:
              schema: {type: string, contentEncoding: binary}
            audio/wav:
              schema: {type: string, contentEncoding: binary}
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/MediaVoiceFailure'
        '500':
          $ref: '#/components/responses/MediaVoiceFailure'
        '502':
          $ref: '#/components/responses/MediaVoiceFailure'
  /model/v1/provider-resources/{provider}/{kind}:
    get:
      operationId: getTenantProviderResource
      summary: Read assigned provider account metadata or quota
      description: Account observations do not add executable model routes. The YAML catalog controls available routes.
      tags: [Proxy]
      security:
        - TenantBearerKey: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: {type: string, pattern: '^[a-z][a-z0-9_-]*$'}
        - name: kind
          in: path
          required: true
          schema: {type: string, enum: [metadata, quotas]}
      responses:
        '200':
          description: Current provider account observation.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ProviderMetadata'
                  - $ref: '#/components/schemas/ProviderQuotas'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/ProviderResourceFailure'
        '502':
          $ref: '#/components/responses/ProviderResourceFailure'
  /model/v1/assets:
    post:
      operationId: uploadTenantAsset
      summary: Upload exact tenant media bytes
      description: >-
        Stores one media asset for the configured retention
        period. The authenticated tenant owns the returned opaque asset id.
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
      requestBody:
        $ref: '#/components/requestBodies/AssetUpload'
      responses:
        '201':
          $ref: '#/components/responses/AssetCreated'
        '400':
          $ref: '#/components/responses/AssetFailure'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '413':
          $ref: '#/components/responses/AssetFailure'
        '499':
          $ref: '#/components/responses/CallerClosed'
        '504':
          $ref: '#/components/responses/ProxyTimeout'
        '500':
          $ref: '#/components/responses/AssetFailure'
  /model/v1/assets/{asset_id}:
    get:
      operationId: getTenantAsset
      summary: Read one tenant asset metadata record
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/AssetID'
      responses:
        '200':
          $ref: '#/components/responses/AssetAvailable'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/AssetFailure'
        '410':
          $ref: '#/components/responses/AssetFailure'
        '500':
          $ref: '#/components/responses/AssetFailure'
    delete:
      operationId: deleteTenantAsset
      summary: Delete one tenant asset
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/AssetID'
      responses:
        '204':
          description: The asset is deleted.
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/AssetFailure'
        '410':
          $ref: '#/components/responses/AssetFailure'
        '500':
          $ref: '#/components/responses/AssetFailure'
  /model/v1/assets/{asset_id}/content:
    get:
      operationId: downloadTenantAsset
      summary: Download exact tenant asset bytes
      tags:
        - Proxy
      security:
        - TenantBearerKey: []
      parameters:
        - $ref: '#/components/parameters/AssetID'
      responses:
        '200':
          description: Exact authenticated asset bytes.
          content:
            application/json:
              schema: {}
            application/x-subrip:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            audio/m4a:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            audio/flac:
              schema:
                type: string
                format: binary
            audio/ogg:
              schema:
                type: string
                format: binary
            video/mp4:
              schema:
                type: string
                format: binary
            video/webm:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '404':
          $ref: '#/components/responses/AssetFailure'
        '410':
          $ref: '#/components/responses/AssetFailure'
        '500':
          $ref: '#/components/responses/AssetFailure'
  /dictate:
    post:
      operationId: postDictation
      summary: Transcribe an audio upload
      description: >-
        Hosted dictation requires Idempotency-Key. Identical audio and format replay the accepted request across both transcription interfaces.
        The usage journal retains provider measurements and the request identity after result expiry.
      tags:
        - Proxy
      security:
        - TenantClientKey: []
      x-llm-proxy-allow-undeclared-query: true
      parameters:
        - $ref: '#/components/parameters/TenantClientKey'
        - $ref: '#/components/parameters/Provider'
        - $ref: '#/components/parameters/Model'
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/HostedCompletionIdempotencyKey'
      requestBody:
        $ref: '#/components/requestBodies/DictationRequest'
      responses:
        '202':
          $ref: '#/components/responses/StructuredRequestPending'
        '410':
          $ref: '#/components/responses/HostedResultExpired'
        '200':
          $ref: '#/components/responses/DictationSuccess'
        '400':
          $ref: '#/components/responses/ProxyBadRequest'
        '403':
          $ref: '#/components/responses/ProxyForbidden'
        '409':
          $ref: '#/components/responses/V2Conflict'
        '413':
          $ref: '#/components/responses/ProxyPayloadTooLarge'
        '429':
          $ref: '#/components/responses/ProxyRateLimited'
        '499':
          $ref: '#/components/responses/CallerClosed'
        '502':
          $ref: '#/components/responses/ProxyBadGateway'
        '503':
          $ref: '#/components/responses/ProxyUnavailable'
        '504':
          $ref: '#/components/responses/ProxyTimeout'
  /config-ui.yaml:
    get:
      operationId: getBrowserConfiguration
      summary: Read the browser runtime configuration
      tags:
        - Configuration
      security: []
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          description: Current browser runtime configuration.
          headers:
            Cache-Control:
              description: Prevents persistence of environment-specific browser configuration.
              schema:
                type: string
                const: no-store
              x-required: true
          content:
            application/yaml:
              schema:
                type: string
                description: >-
                  YAML with llmProxy origins and environment auth configuration.
                  Auth includes tauthUrl, tenantId, logoutPath, sessionPath, and providers.
                  The Google provider declares enabled, clientId, loginPath, and noncePath.
                  Apple and password providers declare enabled false.
  /api/public/capabilities:
    get:
      operationId: getPublicCapabilities
      summary: Read the public normalized model capability catalog
      description: Returns the deterministic, secret-free projection of model publishers, families, exact models, provider offerings, and public proxy request limits.
      tags:
        - Capabilities
      security: []
      responses:
        '200':
          description: Current public capability catalog.
          headers:
            Access-Control-Allow-Origin:
              description: Permits browser reads of this public resource without credentials.
              schema:
                type: string
                const: '*'
              x-required: true
            Cache-Control:
              description: Allows short-lived caching of the public catalog.
              schema:
                type: string
                const: public, max-age=300
              x-required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCapabilityCatalog'
  /api/management/account:
    get:
      operationId: getManagementAccount
      summary: Read the authenticated user and owned tenant summaries
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/AccountSuccess'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/usage:
    get:
      operationId: getManagementAccountUsage
      summary: Read interval-scoped usage across every owned tenant
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/UsageInterval'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/UsageSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/usage/failures:
    get:
      operationId: getManagementAccountUsageFailures
      summary: Read safe failure details across every owned tenant and interval
      description: Returns a newest-first snapshot page of failed managed proxy events across every tenant owned by the authenticated user. Each row identifies its tenant by opaque ID and current name while exposing only bounded diagnostic metadata and canonical outcome codes. Rows never include prompts, responses, provider bodies, free-form errors, credentials, or another user's ownership data.
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/UsageInterval'
        - $ref: '#/components/parameters/UsageDetailLimit'
        - $ref: '#/components/parameters/UsageDetailCursor'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/AccountUsageFailuresSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/usage/rejections:
    get:
      operationId: getManagementAccountUsageRejections
      summary: Read safe rejected-request details across every owned tenant and interval
      description: Returns a newest-first snapshot page of rejected managed proxy requests across every tenant owned by the authenticated user. Rejected requests did not reach provider dispatch and are excluded from execution totals, failure totals, charts, dimensions, status breakdowns, and success rate. Each row exposes only bounded diagnostic metadata and its canonical rejection outcome.
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/UsageInterval'
        - $ref: '#/components/parameters/UsageDetailLimit'
        - $ref: '#/components/parameters/UsageDetailCursor'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/AccountUsageRejectionsSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/tenants:
    post:
      operationId: createManagementTenant
      summary: Create an owned tenant
      tags:
        - Management
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
      requestBody:
        $ref: '#/components/requestBodies/TenantNameRequest'
      responses:
        '201':
          $ref: '#/components/responses/TenantProfileCreated'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '409':
          $ref: '#/components/responses/ManagementConflict'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/admin/users:
    get:
      operationId: getManagementAdminUsers
      summary: Read the administrative user and tenant usage summary
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/AdminUsersSuccess'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/tenants/{tenant_id}:
    get:
      operationId: getManagementTenant
      summary: Read an owned tenant profile
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/TenantProfileSuccess'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/ManagementNotFound'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
    put:
      operationId: renameManagementTenant
      summary: Rename an owned tenant
      tags:
        - Management
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - $ref: '#/components/parameters/OptionalOrigin'
      requestBody:
        $ref: '#/components/requestBodies/TenantNameRequest'
      responses:
        '200':
          $ref: '#/components/responses/TenantProfileSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/ManagementNotFound'
        '409':
          $ref: '#/components/responses/ManagementConflict'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
    delete:
      operationId: deleteManagementTenant
      summary: Delete an owned non-final tenant
      description: Tenants with hosted grant history cannot be deleted. The service returns 409 with managed_tenant_hosted_history.
      tags:
        - Management
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '204':
          description: Tenant deleted.
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/ManagementNotFound'
        '409':
          $ref: '#/components/responses/ManagementConflict'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/tenants/{tenant_id}/usage:
    get:
      operationId: getManagementTenantUsage
      summary: Read interval-scoped usage for an owned tenant
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - $ref: '#/components/parameters/UsageInterval'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/UsageSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/ManagementNotFound'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/tenants/{tenant_id}/usage/failures:
    get:
      operationId: getManagementTenantUsageFailures
      summary: Read safe failure details for an owned tenant and interval
      description: Returns a newest-first snapshot page of failed managed proxy events. Rows expose only bounded diagnostic metadata and canonical outcome codes; they never include prompts, responses, provider bodies, free-form errors, credentials, or ownership identifiers. Historical rows use status-derived normalized outcome codes rather than reconstructed error messages.
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - $ref: '#/components/parameters/UsageInterval'
        - $ref: '#/components/parameters/UsageDetailLimit'
        - $ref: '#/components/parameters/UsageDetailCursor'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/UsageFailuresSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/ManagementNotFound'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/tenants/{tenant_id}/usage/rejections:
    get:
      operationId: getManagementTenantUsageRejections
      summary: Read safe rejected-request details for an owned tenant and interval
      description: Returns a newest-first snapshot page of rejected managed proxy requests. These requests did not reach provider dispatch and are excluded from execution and failure metrics. Rows expose only bounded diagnostic metadata and canonical rejection outcomes.
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - $ref: '#/components/parameters/UsageInterval'
        - $ref: '#/components/parameters/UsageDetailLimit'
        - $ref: '#/components/parameters/UsageDetailCursor'
        - $ref: '#/components/parameters/OptionalOrigin'
      responses:
        '200':
          $ref: '#/components/responses/UsageRejectionsSuccess'
        '400':
          $ref: '#/components/responses/ManagementBadRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/ManagementNotFound'
        '500':
          $ref: '#/components/responses/ManagementInternalError'
  /api/management/billing-accounts:
    get:
      operationId: listBillingAccounts
      summary: Read the authenticated owner's billing account
      tags: [Management]
      security:
        - TAuthSession: []
      responses:
        '200':
          description: The account list. A read does not create an account.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [billing_accounts]
                properties:
                  billing_accounts:
                    type: array
                    maxItems: 1
                    items:
                      $ref: '#/components/schemas/BillingAccount'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '500':
          $ref: '#/components/responses/HostedResourceError'
    post:
      operationId: createBillingAccount
      summary: Create one USD billing account for the authenticated owner
      tags: [Management]
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - $ref: '#/components/parameters/HostedCreationKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [currency]
              properties:
                currency:
                  type: string
                  enum: [USD]
      responses:
        '201':
          description: The immutable account creation response, including on a retry with the same key.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '409':
          $ref: '#/components/responses/HostedResourceError'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/billing-accounts/{billing_account_id}:
    get:
      operationId: getBillingAccount
      summary: Read an owned billing account
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - name: billing_account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The owned account.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/billing-accounts/{billing_account_id}/requests:
    get:
      operationId: listJournalRequests
      summary: Read the usage journal for an owned billing account
      description: Results use ascending request identifiers. Each response contains at most 100 requests. Credentials and request content are omitted.
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/BillingAccountID'
        - $ref: '#/components/parameters/HostedPageLimit'
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^request-[a-f0-9]{32}$'
      responses:
        '200':
          description: The account usage journal page.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [requests, next_cursor]
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/JournalRequest'
                  next_cursor:
                    type: string
                    description: The last request identifier when another page exists. An empty value ends the collection.
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/billing-accounts/{billing_account_id}/requests/{request_id}:
    get:
      operationId: getJournalRequest
      summary: Read one request from an owned usage journal
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/BillingAccountID'
        - name: request_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^request-[a-f0-9]{32}$'
      responses:
        '200':
          description: The retained request and its usage completeness.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalRequest'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/billing-accounts/{billing_account_id}/requests/{request_id}/attempts:
    get:
      operationId: listJournalAttempts
      summary: Read attempts for an owned journal request
      description: Results use ascending opaque identifiers. Each response contains at most 100 records. Private provider identifiers and source content are omitted.
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/BillingAccountID'
        - $ref: '#/components/parameters/JournalRequestID'
        - $ref: '#/components/parameters/HostedPageLimit'
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^attempt-[a-f0-9]{32}$'
      responses:
        '200':
          description: The owned request collection page.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [attempts, next_cursor]
                properties:
                  attempts:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/JournalAttempt'
                  next_cursor:
                    type: string
                    description: The last record identifier when another page exists. An empty value ends the collection.
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/billing-accounts/{billing_account_id}/requests/{request_id}/observations:
    get:
      operationId: listJournalObservations
      summary: Read usage observations for an owned journal request
      description: Results use ascending opaque identifiers. Each response contains at most 100 records. Private provider identifiers and source content are omitted.
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/BillingAccountID'
        - $ref: '#/components/parameters/JournalRequestID'
        - $ref: '#/components/parameters/HostedPageLimit'
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^observation-[a-f0-9]{32}$'
      responses:
        '200':
          description: The owned request collection page.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [observations, next_cursor]
                properties:
                  observations:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/JournalObservation'
                  next_cursor:
                    type: string
                    description: The last record identifier when another page exists. An empty value ends the collection.
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/billing-accounts/{billing_account_id}/requests/{request_id}/reconciliation-cases:
    get:
      operationId: listJournalReconciliationCases
      summary: Read reconciliation cases for an owned journal request
      description: Results use ascending opaque identifiers. Each response contains at most 100 records. Private provider identifiers and source content are omitted.
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/BillingAccountID'
        - $ref: '#/components/parameters/JournalRequestID'
        - $ref: '#/components/parameters/HostedPageLimit'
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^case-[a-f0-9]{32}$'
      responses:
        '200':
          description: The owned request collection page.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [cases, next_cursor]
                properties:
                  cases:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/JournalReconciliationCase'
                  next_cursor:
                    type: string
                    description: The last record identifier when another page exists. An empty value ends the collection.
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/platform-connections:
    get:
      operationId: listPlatformConnections
      summary: Read platform connection metadata as an operator
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^platform-[a-f0-9]{32}$'
      responses:
        '200':
          description: Connection metadata in ascending identifier order. Credentials are excluded.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [platform_connections, next_cursor]
                properties:
                  platform_connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlatformConnection'
                  next_cursor:
                    type: string
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '500':
          $ref: '#/components/responses/HostedResourceError'
    post:
      operationId: createPlatformConnection
      summary: Verify and create a platform connection as an operator
      tags: [Management]
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - $ref: '#/components/parameters/HostedCreationKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformConnectionWrite'
      responses:
        '201':
          description: The immutable creation receipt. Repeated keys require identical intent.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformConnection'
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '409':
          $ref: '#/components/responses/HostedResourceError'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ProviderKeyRejected'
        '429':
          $ref: '#/components/responses/ProviderKeyVerificationRateLimited'
        '500':
          $ref: '#/components/responses/HostedResourceError'
        '503':
          $ref: '#/components/responses/ProviderKeyVerificationUnavailable'
        '504':
          $ref: '#/components/responses/ProviderKeyVerificationTimedOut'
  /api/management/platform-connections/{platform_connection_id}:
    get:
      operationId: getPlatformConnection
      summary: Read platform connection metadata as an operator
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/PlatformConnectionID'
      responses:
        '200':
          $ref: '#/components/responses/PlatformConnectionSuccess'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
    put:
      operationId: rotatePlatformConnection
      summary: Replace platform credentials while retaining accepted versions
      tags: [Management]
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - $ref: '#/components/parameters/PlatformConnectionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformConnectionWrite'
      responses:
        '200':
          $ref: '#/components/responses/PlatformConnectionSuccess'
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '409':
          $ref: '#/components/responses/HostedResourceError'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ProviderKeyRejected'
        '429':
          $ref: '#/components/responses/ProviderKeyVerificationRateLimited'
        '500':
          $ref: '#/components/responses/HostedResourceError'
        '503':
          $ref: '#/components/responses/ProviderKeyVerificationUnavailable'
        '504':
          $ref: '#/components/responses/ProviderKeyVerificationTimedOut'
  /api/management/hosted-access-grants:
    get:
      operationId: listHostedAccessGrants
      summary: Read hosted access grants for the authenticated account
      description: Operators can read all grants. Results use ascending ID order and an exclusive cursor.
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/HostedPageLimit'
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^grant-[a-f0-9]{32}$'
      responses:
        '200':
          description: The account grants without platform credentials or private provider handles.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [hosted_access_grants, next_cursor]
                properties:
                  hosted_access_grants:
                    type: array
                    items:
                      $ref: '#/components/schemas/HostedAccessGrant'
                  next_cursor:
                    type: string
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '500':
          $ref: '#/components/responses/HostedResourceError'
    post:
      operationId: createHostedAccessGrant
      summary: Create a hosted access grant as an operator
      description: >-
        Creation binds one tenant to its billing account and explicit provider offerings.
        A grant does not bypass pricing, metering, funds admission, or the hosted activation gate.
        The original creation response remains available after grant changes and catalog changes.
      tags: [Management]
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - $ref: '#/components/parameters/HostedCreationKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedAccessGrantCreate'
      responses:
        '201':
          description: The retained creation response. Read the resource for its current state.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedAccessGrant'
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '409':
          $ref: '#/components/responses/HostedResourceError'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/hosted-access-grants/{grant_id}:
    get:
      operationId: getHostedAccessGrant
      summary: Read one hosted access grant
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/HostedGrantID'
      responses:
        '200':
          $ref: '#/components/responses/HostedAccessGrantSuccess'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
    patch:
      operationId: changeHostedAccessGrant
      summary: Change grant state with a revision precondition
      description: >-
        Only operators can change grants. Each change records its actor and reason in the same transaction.
        Suspended grants can return to active state. Revoked grants cannot return to another state.
        A stale revision or an unchanged state returns a conflict. Read the current resource before another change.
      tags: [Management]
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - $ref: '#/components/parameters/HostedGrantID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [state, revision, reason]
              properties:
                state:
                  $ref: '#/components/schemas/HostedGrantState'
                revision:
                  type: integer
                  minimum: 1
                  maximum: 9223372036854775806
                reason:
                  $ref: '#/components/schemas/HostedGrantReason'
      responses:
        '200':
          $ref: '#/components/responses/HostedAccessGrantSuccess'
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '409':
          $ref: '#/components/responses/HostedResourceError'
        '415':
          $ref: '#/components/responses/ManagementUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/hosted-access-grants/{grant_id}/revisions:
    get:
      operationId: listHostedAccessGrantRevisions
      summary: Read the grant audit as an operator
      description: Revisions use ascending order. Each cursor identifies the last revision on the previous page.
      tags: [Management]
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/HostedGrantID'
        - $ref: '#/components/parameters/HostedPageLimit'
        - name: cursor
          in: query
          schema:
            type: string
            pattern: '^[1-9][0-9]*$'
      responses:
        '200':
          description: Retained grant revisions with operator identity and reason.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [revisions, next_cursor]
                properties:
                  revisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/HostedAccessGrantRevision'
                  next_cursor:
                    type: string
        '400':
          $ref: '#/components/responses/HostedResourceError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          $ref: '#/components/responses/HostedResourceError'
        '500':
          $ref: '#/components/responses/HostedResourceError'
  /api/management/connections:
    get:
      operationId: listManagementConnections
      summary: List account connections and provider definitions
      description: Connections use ascending ID order. Continue with next_cursor. An empty next_cursor indicates the last page.
      tags:
        - Management
      security:
        - TAuthSession: []
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          description: The next_cursor from the previous page. The cursor remains valid after connection deletion.
          schema:
            type: string
            pattern: '^connection-[0-9a-f]{32}$'
      responses:
        '200':
          description: Operation completed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConnections'
        '400':
          description: The connection operation failed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionError'
        '401':
          $ref: '#/components/responses/ManagementUnauthorized'
        '403':
          $ref: '#/components/responses/ManagementForbidden'
        '404':
          description: The connection operation failed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionError'
        '409':
          description: The connection operation failed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionError'
        '500':
          description: The connection operation failed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionError'
    post:
      operationId: createManagementConnection
      summary: Verify credentials and create an account connection
      tags:
        - Management
      security:
        - TAuthSession: []
      x-llm-proxy-required-request-content-type: application/json
      parameters:
        - $ref: '#/components/parameters/OptionalOrigin'
        - $ref: '#/components/parameters/ConnectionCreationKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConnectionWrite'
      responses:
        '201':
          description: Operation completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConnection'
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
            Location:
              description: The created connection resource.
              schema:
                type: string
        '400':
          description: The connection operation failed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/NoStore'
          content:
[...]
